.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.all_table {
	width: 500px;
	height: 540px;
}

td {
	border: 7px solid #000;
}

.row1 {
	height: 47px;
}

.row2,
.row3 {
	height: 150px;
}

.row4 {
	height: 60px;
}

.row5 {
	height: 58px;
}

.row6,
.row7 {
	height: 30px;
}

.column_1 {
    width: 50px;
}

.column_2 {
    width: 77px;
}

.column_3 {
    width: 75px;
}

.orange {
    background: #ff613c;
}

.yellow {
    background: #fffb80;
}

.blue {
    background: #155492;
}

.black {
    background: #0d0d0d;
}
